@use '@/styles/variables' as *;

.trip-planner {
  background: $color-sidebar-bg;
  display: grid;
  gap: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    .title {
      font-size: 1.2em;
    }
  }
  &__empty {
    opacity: 0.7;
    padding: 6px 0;
    color: $color-subtext;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 6px;
  }
  &__item {
    background: #fff;
    padding: 6px 10px;
  }
  &__clear {
    justify-self: center;
    background: transparent;
    color: #c03636;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
